<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyt.dao.AdminDao">
    <resultMap id="adminResultMap" type="com.zyt.entity.Admin">
        <id property="aid" column="aid"/>
        <result property="aname" column="aname"/>
        <result property="acname" column="acname"/>
        <result property="apwd" column="apwd"/>
        <collection property="lp" column="aid" select="com.zyt.dao.PrivDao.selPrivByAid"/>
        <collection property="lr" column="aid" select="com.zyt.dao.RoleDao.selRoleByAid"/>
    </resultMap>
    <select id="selAdminByNP" resultMap="adminResultMap">
        select * from tc_admin where acname = #{acname} and apwd = #{apwd}
    </select>
    <select id="selRoleByAid" resultMap="adminResultMap">
        select * from tc_role where rid in(select rid from tc_admin_role where aid=#{aid})
    </select>

    <select id="selAllAdmin" resultType="com.zyt.entity.Admin">

        select * from tc_admin
    </select>
    
    <update id="updAdminPwd">
        update tc_admin set apwd=#{apwd} where aid=#{aid}
    </update>
    
    <update id="updAdminInfo">
        update tc_admin set aname=#{aname},atel=#{atel},aemail=#{aemail} where aid=#{aid}
    </update>
</mapper>




